<div>Title: <br><%= @stream.title %></div>
<div>Description: <br><%= @stream.desc %></div>
<div>Genre: <br><%= @stream.genre %></div>
<div>Instrument: <br><%= @stream.instrument %></div>
<div>Location: <br><%= @stream.location %></div>
